@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 50px;
    border-bottom: 1px solid #333;
    background-color: black;
    color: white;
}

.intro h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.intro h2 {
    font-size: 1.5rem;
    font-weight: normal;
    color: #aaa;
    margin-bottom: 20px;
}

.intro p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #aaa;
}

.photo img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.intro {
    max-width: 600px;
}